
.anim-box{
    height:470px;
    width: 601px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    position: absolute;
    bottom: 0;
    left:30%;
    background-color:white;
}

body{
    text-align: center;
    background-color: #f4f4f9;
}

.mess{
   margin-bottom: 20%;
   position:absolute;
   bottom:0;
   right:28%;
}

.t-anim{
    position:absolute;
    left:10%;
    bottom:-10%;
    margin-bottom: 38%;

 }

 .t-anim button{
    margin-right: 20px;
    font-size: 20px;
 }

 #start-button{
   background-color: rgb(9, 183, 9);
 }
 #reset{
   background-color: red;
 }

 
 #reload{
    right:5%;
 }