
nav{
    display: flex;
    gap:30px;
    background-color: lightgray;
    padding:15px;
    text-decoration: none;
    position:fixed;
    justify-content: flex-end;
    width:100%;
    padding-right:7%;
}

nav a {
    text-decoration: none;
    color:black;
    left:60%;
}

nav a:hover{
    color:blue;
}


body{
    display:flex;
    margin:0;
    padding:0;
}





