
header nav{
    display: flex;
    gap:30px;
    background-color: lightgray;
    padding:15px;
    text-decoration: none;
    position:fixed;
    justify-content: flex-end;
    width:100%;
    padding-right:7%;
    z-index:1000;
}

header nav a {
    text-decoration: none;
    color:black;
    left:60%;
}

header nav a:hover{
    color:blue;
}


body{
    display:flex;
    margin:0;
    padding:0;
}

.details{
    margin:7px;
    position: absolute;
    top:70px;
}
.desc{
    margin-left:20px;
}
.action-space{
    margin-left:20px;
}
.obs-space{
    margin-left:20px;
}
.reward{
    margin-left:20px;
}
table{
    text-align: center;
}







